/* override css styles of the main theme here */

section.header .avatar {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.avatar {
  min-width: 100px;
  border: 3px solid black;
  border-radius: 0%;
  float: right;
  margin-left: 50px;
}

table {
  font-size: .9rem;
}

section.main .content .markdown pre code {
  /* enclosed by 3 backticks (```) */
  padding: 0;
  font-size: .95rem;
}
